.frame {
  margin: 15px;

  @at-root button.btn {
    padding: 10px;
    text-align: center;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: white;
  }

  @at-root button.confirm {
    background-color: yellowgreen;
  }

  @at-root button.warning {
    background-color: crimson;
  }
}
