@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

body {
  font: {
    family: "Dongle", sans-serif;
    size: 18px;
    weigth: 500;
  }
}
//  Buttons

$primary-btn: skyblue;
$secondary-btn: royalblue;
$warning-btn: crimson;

.btns {
  .btn {
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 3px;
    color: white;
  }
  .primary {
    background-color: $primary-btn;
  }
  .secondary {
    background-color: $secondary-btn;
  }
  .warning {
    background-color: $warning-btn;
  }
}
