@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

body {
  font: {
    family: "Dongle", sans-serif;
    size: 18px;
    weigth: 500;
  }
}
.portfolio p {
  text: {
    align: center;
    overflow: hidden;
    transform: uppercase;
  }
}
